.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/*.key
storage/app/*.sqlite
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
.phpunit.cache
.claude
